/* line 3, ../sass/style.scss */
.modal {
  background: transparent;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0.95;
}

/* line 10, ../sass/style.scss */
.hidden {
  opacity: 0;
}

/* line 14, ../sass/style.scss */
.console-container {
  font-family: Major Mono Display;
  font-weight: bold;
  font-size: 3rem;
  width: 600px;
  display: block;
}

/* line 24, ../sass/style.scss */
.console-underscore {
  display: inline-block;
  position: relative;
  left: 10px;
}

/* line 30, ../sass/style.scss */
.text {
  font-family: 'Michroma';
  font-weight: 100;
  font-size: 3rem;
  color: #757575 !important;
  padding: 10rem;
}

/* line 39, ../sass/style.scss */
#main.bg-white {
  box-shadow: 0 0 20px gray;
  height: 50rem;
}

/* line 44, ../sass/style.scss */
#main.bg-dark {
  box-shadow: 0 0 20px black;
  height: 50rem;
}

/* line 49, ../sass/style.scss */
#subtitle {
  font-size: 0.8rem;
}

/* line 53, ../sass/style.scss */
#aboutMe {
  font-size: 1.6rem;
}

/* line 57, ../sass/style.scss */
.modal-body {
  box-shadow: 0 0 20px gray;
}

/* line 61, ../sass/style.scss */
.mode-soft {
  font-size: 0.8rem;
  margin-top: 30rem;
}

/* line 68, ../sass/style.scss */
.bigLink {
  font-size: 1.2rem;
  font-family: 'Michroma', sans-serif;
  color: #ff2020 !important;
  font-weight: bolder;
  text-decoration: none !important;
}

/* line 72, ../sass/style.scss */
.bigLink:hover {
  color: deepskyblue !important;
  font-size: 1.4rem;
}

@media (min-width: 1400px) {
  /* line 81, ../sass/style.scss */
  .mode-soft {
    font-size: 3rem;
    margin-top: 5rem;
  }

  /* line 85, ../sass/style.scss */
  #title {
    font-size: 4rem;
  }

  /* line 88, ../sass/style.scss */
  #subtitle {
    font-size: 1.1rem;
  }

  /* line 91, ../sass/style.scss */
  #aboutMe {
    font-size: 2rem;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  /* line 98, ../sass/style.scss */
  .mode-soft {
    padding: calc(1.325rem + 0.9vw);
    font-size: 1.5rem;
    margin-top: 15rem;
  }

  /* line 103, ../sass/style.scss */
  #title {
    font-size: 3rem;
  }

  /* line 106, ../sass/style.scss */
  #subtitle {
    font-size: 1.1rem;
  }

  /* line 109, ../sass/style.scss */
  #aboutMe {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  /* line 115, ../sass/style.scss */
  #title {
    font-family: 'Major Mono Display', monospace;
    font-size: 2rem;
  }

  /* line 119, ../sass/style.scss */
  #subtitle {
    font-size: 0.6rem;
  }

  /* line 122, ../sass/style.scss */
  .mode-soft {
    font-size: 0.5rem;
    margin-top: 40rem;
  }

  /* line 127, ../sass/style.scss */
  #aboutMe {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 133, ../sass/style.scss */
  .console-underscore {
    font-size: 1.5rem;
  }

  /* line 136, ../sass/style.scss */
  .console-container {
    font-size: 1.5rem;
  }

  /* line 139, ../sass/style.scss */
  .text {
    font-size: 1.5rem;
    padding: 0;
  }

  /* line 144, ../sass/style.scss */
  .menu {
    left: 47%;
  }
}
@media only screen and (min-width: 601px) {
  /* line 150, ../sass/style.scss */
  .menu {
    left: 50%;
  }
}
/* The switch - the box around the slider */
/* line 158, ../sass/style.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/* line 166, ../sass/style.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 173, ../sass/style.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 185, ../sass/style.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* line 197, ../sass/style.scss */
input:checked + .slider {
  background-color: dimgrey;
}

/* line 201, ../sass/style.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

/* line 205, ../sass/style.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* line 212, ../sass/style.scss */
.slider.round {
  border-radius: 34px;
}

/* line 216, ../sass/style.scss */
.slider.round:before {
  border-radius: 50%;
}

/* line 234, ../sass/style.scss */
.menu-item, .menu-open-button {
  background: #757575;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

/* line 248, ../sass/style.scss */
.menu-open {
  display: none;
}

/* line 254, ../sass/style.scss */
.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

/* line 269, ../sass/style.scss */
.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

/* line 272, ../sass/style.scss */
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

/* line 275, ../sass/style.scss */
.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

/* line 279, ../sass/style.scss */
.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
/* line 282, ../sass/style.scss */
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
/* line 285, ../sass/style.scss */
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

/* line 289, ../sass/style.scss */
.menu {
  position: absolute;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

/* line 305, ../sass/style.scss */
.menu-item:hover {
  background: white;
  color: white;
}
/* line 310, ../sass/style.scss */
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
/* line 310, ../sass/style.scss */
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
/* line 310, ../sass/style.scss */
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
/* line 310, ../sass/style.scss */
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}

/* line 316, ../sass/style.scss */
.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

/* line 324, ../sass/style.scss */
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* line 327, ../sass/style.scss */
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

/* line 333, ../sass/style.scss */
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
/* line 338, ../sass/style.scss */
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(114.42548px, 11.48084px, 0);
}
/* line 338, ../sass/style.scss */
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(54.20276px, 101.42515px, 0);
}
/* line 338, ../sass/style.scss */
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(-54.04116px, 101.51135px, 0);
}
/* line 338, ../sass/style.scss */
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-114.40705px, 11.66307px, 0);
}
