@import "compass/css3";

.modal{
    background: rgba(0,0,0,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    opacity: 0.95;
}

.hidden {
    opacity:0;
  }

.console-container {
 
    font-family:Major Mono Display;
    font-weight: bold;
    font-size:3rem;
    width:600px;
    display:block;


  }
.console-underscore {
    display:inline-block;
    position:relative;
    left:10px;
}

.text {
   font-family: 'Michroma';
   font-weight: 100;
   font-size: 3rem;
   color: #757575!important;
   padding: 10rem;
}


#main.bg-white {
    box-shadow: 0 0 20px gray;
    height: 50rem;
}

#main.bg-dark{
    box-shadow: 0 0 20px black;
    height: 50rem;
}

#subtitle {
    font-size: 0.8rem;
}

#aboutMe {
    font-size: 1.6rem;
}

.modal-body {
    box-shadow: 0 0 20px gray;
}

.mode-soft {
    font-size: 0.8rem;
    margin-top: 30rem;
}



.bigLink {
    font-size: 1.2rem; font-family: 'Michroma', sans-serif; color: rgb(255, 32, 32) !important; font-weight: bolder; text-decoration: none !important;
}

.bigLink:hover {
    color: deepskyblue !important;
    font-size: 1.4rem;
}




@media (min-width: 1400px) {
    .mode-soft {
        font-size: 3rem;
        margin-top: 5rem;
    }
    #title {
        font-size: 4rem;
    }
    #subtitle {
        font-size: 1.1rem;
    }
    #aboutMe {
        font-size: 2rem;
    }

}

@media (min-width: 1000px) and (max-width: 1400px) {
    .mode-soft {
        padding: calc(1.325rem + 0.9vw);
        font-size: 1.5rem;
        margin-top: 15rem;
    }
    #title {
        font-size: 3rem;
    }
    #subtitle {
        font-size: 1.1rem;
    }
    #aboutMe {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    #title {
        font-family: 'Major Mono Display', monospace; font-size: 2rem;
    }

    #subtitle {
        font-size: 0.6rem;
    }
    .mode-soft {
        font-size: 0.5rem;
        margin-top: 40rem;
    }

    #aboutMe {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .console-underscore {
        font-size: 1.5rem;
    }
    .console-container {
        font-size: 1.5rem;
    }
    .text {
        font-size: 1.5rem;
        padding: 0;
        
    }
    .menu {
      left: 47%;
    }
}

@media only screen and (min-width: 601px) {
  .menu {
    left: 50%;
  }
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: dimgrey;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



//vars
$fg: #757575;
$bg:#3f51b5;
$pi:3.14;

//config
$menu-items:4;
$open-distance:115px;
$opening-angle:$pi - .2;



%ball{
  background:$fg;
  border-radius:100%;
  width:80px;
  height:80px;
  margin-left:-40px;
  position:absolute;
  top:20px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg); 
  }
}
.menu{
  $width:380px;
  $height:250px;
  position:absolute;
  margin-left:-$width/2;
  padding-top:20px;
  padding-left:$width/2;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}


.menu-item{
  &:hover{
    background:white;
    color: white;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);
  @for $i from 1 through $menu-items{
    $angle:(($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));
    
    &:nth-child(#{$i+2}){
      transition-duration:80ms+(80ms*$i);
      transform:translate3d(cos($angle)*$open-distance,sin($angle)*$open-distance,0);
    }
  }
}
